<div *ngIf="survey" class="wrapper">
  <div class="main-image-wrapper">
    <img src="../../../assets/img/babyYoda.jpeg" alt="">
  </div>
  <div class="title-wrapper">
    <h1>{{ survey.title }}</h1>
  </div>
  <div class="description-wrapper">
    <p>{{ survey.description || 'No description provided' }} </p>
  </div>
  <form [formGroup]="surveyForm" (ngSubmit)="onSubmit()" class="survey-form">
    <div class="questions" [class.completed]="isCompleted">
      <app-question
       *ngFor="let question of survey.questions; let i = index"
        [question]="question"
        [answer]="completion.answers[i]"
        [index]="i"
        [parentForm]="surveyForm"
        class="question">
      </app-question>
    </div>
    <div class="buttons">
      <button *ngIf="!isCompleted" type="submit" class="button-submit"><span>Submit!</span></button>
      <a *ngIf="isCompleted" class="button-results"><span>Results</span></a>
      <!-- *ngIf="isCompleted" -->
    </div>
  </form>
</div>
