<div *ngIf="survey" class="wrapper">
  <div class="main-image-wrapper">
    <img src="../../../assets/img/babyYoda.jpeg" alt="">
  </div>
  <div class="title-wrapper">
    <h1>{{ survey.title }}</h1>
  </div>
  <div class="description-wrapper">
    <p>{{ survey.description || 'No description provided' }} </p>
  </div>
  <form [formGroup]="surveyForm" (ngSubmit)="onSubmit()" class="survey-form">
    <div class="questions">
      <app-question
       *ngFor="let question of survey.questions; let i = index"
        [question]="question"
        [index]="i"
        [parentForm]="surveyForm"
        class="question">
      </app-question>
    </div>
    <div class="buttons">
      <button *ngIf="!isCompleted" type="submit" class="button-submit">Submit!</button>
      <a *ngIf="isCompleted" class="button-results">Results</a>
    </div>
  </form>
</div>
