@import "../../../../variables.scss";

header {
  display: flex;
  min-height: 70vh;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

header > div {
  margin: 0 3%;
}

.text-panel {
  padding-top: 1.5rem;
}

.logo {
  color: $primary-light;
  font-size: 3.7rem;
  font-weight: normal;
  letter-spacing: 0.01rem;
  margin-bottom: 1.5rem;
  text-align: center;
}

.description {
  font-size: 2rem;
  font-weight: lighter;
  margin-bottom: 3rem;
}

.buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;

  .button {
    display: inline-block;
    width: 8rem;
    font-size: 1rem;
    text-align: center;
    line-height: 1.2rem;
    padding: 1em;
    text-decoration: none;

    span {
      display: inline-block;
      transition: transform 1s;
    }

    &:hover span {
      transform: rotateY(360deg);
    }
  }

  .button-about {
    color: black;
    border: 1px solid rgb(206, 206, 206);
    margin-right: 1em;
  }

  .button-create {
    color: white;
    background-color: $primary-light;
  }
}

.image-panel img {
  height: 52.5vh;
  filter: drop-shadow(2px 3px 4px $gray);
}

@media (min-width: 992px) {
  .logo {
    text-align: left;
  }

  .buttons {
    display: initial;
    margin-bottom: initial;
  }
}
