/* You can add global styles to this file, and also import other style files */
body {
    position: relative;
    min-height: 100vh;
    margin: 0;
    padding-bottom: 8.5rem;
    font-family: 'Poppins', Roboto, "Helvetica Neue", sans-serif;
 }
