/* You can add global styles to this file, and also import other style files */
body {
    margin: 0;
    font-family: 'Poppins', Roboto, "Helvetica Neue", sans-serif;
    min-height: 100vh;
    position: relative;
 }
