@import "../../../variables";

.survey-results {
  width: 70%;
  min-height: 400px;
  margin: 0 auto;
  background-color: rgb(212, 212, 212);
}

.main-headline {
  font-size: 1.8rem;
  padding: 0.5rem;
  font-weight: normal;
}
