<div class="wrapper">
  <h1>Survey It</h1>
  <p><span class="text-green text-big">Hi there!</span> i don't know what cursed path led you to this place, but if you're already here i guess
     I can say some stuff about it.
  </p>
  <p>This web application is based on <span class="text-green">ASP .Net core</span>
     for the back-end, and <span class="text-green">Angular</span> for what you're looking at right about now.
     Unless you're not looking :&lt;
  </p>
  <p>It lets you create, fill out or review anonymous surveys.
    Multiple question types, any answer you can think of and results displayed in an awesome, but still easy to understand way.</p>
  <p>It's a small <i>passion</i> project, created to get
     <span class="text-green">cooler, better, faster, stronger </span>∩༼˵☯‿☯˵༽つ¤=[]:::::>
  </p>
</div>
