<img class="main-image" src="../../../assets/img/babyYoda.jpeg">
<div class="survey-content">
    <h1 class="title">Title of that survey is cool</h1>
    <ol class="question-list">
        <li class="question">Are you a baby yoda?</li>
        <li class="question">Do you like grilled fish?</li>
        <li class="question">Do you have a cute rabbit plushy?</li>
    </ol>
    <div class="survey-meta-data">
        <!-- 7 questions -->
        <span>7.</span>
        <!-- creator -->
        <span>LittleURF</span>
        <!-- creation date -->
        <span>24.07.2020</span>
    </div>
</div>
<span class="rating">*****</span>