<nav>
  <div class="nav-content">
    <a href="" class="logo">Survey It</a>
    <input class="menu-btn" type="checkbox" id="menu-btn" />
    <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
    <ul class="menu">
        <li><a href="#work">Home</a></li>
        <li><a href="#about">About</a></li>
        <li><a href="#careers">Contact</a></li>
      <!-- If not registered -->
      <div class="right-side-nav-items">
        <li><a href="#contact">Login</a></li>
        <li><a href="#contact">Register</a></li>
      </div>

      <!-- If Registered -->
      <!-- <li><a href="#user">Nickname</a></li> -->
    </ul>
  </div>
</nav>