<nav>
  <div class="nav-content">
    <div class="logo-wrapper">
      <a routerLink="/" class="logo">Survey It</a>
    </div>
    <input class="menu-btn" type="checkbox" id="menu-btn" />
    <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
    <ul class="menu">
        <li><a routerLink="/">Home</a></li>
        <li><a [routerLink]="['about-us']">About</a></li>
        <li><a routerLink="/">Contact</a></li>
      <div class="right-side-nav-items">
        <li *ngIf="!authService.loggedIn">
          <a (click)="authService.login()">Login</a>
        </li>
        <li *ngIf="authService.loggedIn">
          <a (click)="authService.logout()">Logout</a>
        </li>
      </div>
    </ul>
  </div>
</nav>
