@import "../../../variables";

.wrapper {
  display: grid;
  grid-template-columns: [first-col] 1fr repeat(6, 1fr) 1fr [last-col];
  grid-template-rows: [first-row]6.5rem 8rem minmax(5rem, auto) 6rem 7rem [last-row];
  width: 70%;
  min-height: 400px;
  margin: 3rem auto;
  background-color: rgb(241, 240, 240);
  box-shadow: 2px 2px 10px black;
}

.main-image-wrapper {
  grid-area: first-row / first-col / 3 / 3;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-shadow: 0px 0px 5px black;
  }
}

.header-input {
  border: none;
  background: initial;
  transition: 0.3s;
  width: 100%;
  height: 90%;

  &:hover {
    cursor: text;
    background-color: rgb(218, 214, 214);
  }
}

.title-wrapper {
  grid-area: first-row / 3 / 2 / last-col;
  align-self: center;
  padding: 0px 10px 0px 30px;

  .title {
    font-size: 2.5rem;
    font-weight: normal;
    margin: 0;
  }
}

.description-wrapper {
  grid-area: 2 / 3 / 3 / last-col;
  align-self: start;
  height: 100%;
  padding: 0px 10px 0px 30px;
  position: relative;

  .description {
    font-size: 1.2rem;
    margin-top: 0px;
  }
}

.description-wrapper::after {
  display: inline-block;
  content: '';
  position: absolute;
  left: 0px;
  bottom: 0px;
  height: 1px;
  width: 100%;
  background-color: rgb(201, 201, 201);
}

.questions, .no-questions {
  grid-area: 3 / first-col / 4 / last-col;
  margin-top: 2.5rem;
}

.no-questions{
  text-align: center;
}

.add-question {
  grid-area: 4 / first-col / 5 / last-col;
  display: flex;
  justify-content: center;

  width: 16rem;
  height: 4rem;
  margin: 1rem auto;
  box-shadow: 0px 1px 2px 1px #eee;

  .add-button {
    width: 30%;
    background-size: contain;
    background-repeat: round;
    border: none;
    box-shadow: none;
    transition: 0.3s;
    clip-path: inset(0px 0px -15px 0px);

    img {
      width: 100%;
      height: auto;
      transition: 0.2s;
    }

    &:hover > img{
      cursor: pointer;
      filter: invert(47%) sepia(67%) saturate(1812%) hue-rotate(191deg) brightness(101%) contrast(101%);
    }
  }
}

.button-submit {
  grid-area: 5 / 1 / last-row / last-col;
  justify-self: center;
  display: inline-block;
  width: 8rem;
  height: 3.2rem;
  font-size: 1rem;
  padding: 1rem;
  margin-top: 2rem;
  text-decoration: none;
  color: white;
  border: none;
  background-color: $blue;
  text-align: center;
  line-height: 1.2rem;
  box-shadow: 0px 1px 3px 1px $gray;
  transform: rotateY(0deg);

  span {
    display: block;
    transition: transform 1s;
  }

  &:hover > span {
    transform: rotateY(360deg);
  }

  &:hover {
    cursor: pointer;
  }
}

.survey-form {
  display: contents;
}

@media (min-width: 1200px) {
  .wrapper {
    width: 65%;
  }
}
