<div class="wrapper">
  <form *ngIf="surveyForm" [formGroup]="surveyForm" (ngSubmit)="onSubmit()" class="survey-form">
  <div class="main-image-wrapper">
    <img src="../../../assets/img/babyYoda.jpeg" alt="">
  </div>
  <div class="title-wrapper">
    <input type="text" class="title header-input" formControlName="title"/>
  </div>
  <div class="description-wrapper">
    <textarea class="description header-input" formControlName="description"></textarea>
  </div>
  <div *ngIf="questions.length !== 0;else noQuestions" class="questions" formArrayName="questions"> <!-- If questions not empty-->
    <app-question
      *ngFor="let question of questions; let i = index"
      [question]="question"
      [index]="i"
      [parentForm]="surveyForm"
      class="question">
    </app-question>
  </div>
  <ng-template #noQuestions>
    <div class="no-questions">
      <h2>No questions</h2>
      <p>Use the buttons below to add one!</p>
    </div>
  </ng-template>
  <div class="add-question">
    <button type="button" class="add-button add-button-open" (click)="addQuestion(questionType.Open)">
      <img src="../../../assets/img/questionOpen.svg">
    </button>
    <button type="button" class="add-button add-button-rating" (click)="addQuestion(questionType.Rating)">
      <img src="../../../assets/img/questionRating.svg">
    </button>
    <button type="button" class="add-button add-button-yes-or-no" (click)="addQuestion(questionType.YesOrNo)">
      <img src="../../../assets/img/questionYesOrNo.svg">
    </button>
  </div>
  <button type="submit" class="button-submit"><span>Submit!</span></button>
  </form>
  <app-navigate-back></app-navigate-back>
</div>
