@import '../../../../variables';

:host {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
}

.question-text {
  display: inline-block;
  font-size: 1.4rem;
  text-align: center;
  margin-bottom: 2.3rem;
}

.question-counter {
  display: inline-block;
  position: absolute;
  top: .5rem;
  left: 1rem;
  font-size: 1.2rem;
  color: $gray;
}

.answer {
  width: 80%;
}
